---
import clsx from "clsx";
import Button from "./Button.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<article
  class={clsx(
    "bottom-14 z-10 md:pt-40 md:order-1 absolute md:relative flex flex-grow items-center md:items-start justify-center md:justify-start gap-4 flex-col",
    className,
  )}
>
  <h1
    class="text-5xl sm:text-5xl z-20 md:z-0 md:text-6xl lg:text-[85px] text-center md:text-start font-extrabold text-white"
  >
    <span class="font-title text-3xl sm:text-4xl md:text-5xl lg:text-[65px]"
      >I'M FULL-STACK</span
    >
    <br />
    DEVELOPER
  </h1>
  <p class="max-w-[28rem] text-center md:text-start text-sm md:text-base">
    +2 años de experiencia. Especializado en el desarrollo de aplicaciones web
    únicas.
  </p>
  <nav class="flex justify-center md:justify-start gap-2">
    <Button>DESCARGAR CV</Button>
    <a href="mailto:viloriaalgarin@gmail.com">
      <Button variant="outline">CONTACTAME</Button>
    </a>
  </nav>
  <nav
    class="md:mt-10 md:left-8 bottom-52 md:bottom-20 w-fit z-20 flex gap-2 [&>a>img]:w-7 md:[&>a>img]:w-9 justify-center md:justify-start"
  >
    <a
      href="https://www.instagram.com/esteban_ldev"
      target="_blank"
      class="hover:scale-105 transition-all duration-300"
    >
      <img src="/images/instagram.svg" />
    </a>
    <a
      href="https://www.linkedin.com/in/joel-esteban-viloria-algarin-8a1333223/"
      target="_blank"
      class="hover:scale-105 transition-all duration-300"
    >
      <img src="/images/linkedin.svg" />
    </a>
    <a
      href="https://github.com/viloriajoel07"
      target="_blank"
      class="hover:scale-105 transition-all duration-300"
    >
      <img src="/images/github.svg" />
    </a>
  </nav>
</article>
