---
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio de Esteban Vl" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-[#050004]">
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
    font-family: "Montserrat";
    scroll-behavior: smooth;
  }

  .font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .font-title {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .fade-bottom {
    mask-image: linear-gradient(black 80%, transparent);
  }

  html {
    color: #fff;
  }

  span {
    color: #b3b3b3;
  }

  @font-face {
    font-family: "Monserrat";
  }
</style>
